//@theme "/home/roah/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/roah/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/roah/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/roah/.local/share/rofi/themes/launchpad.rasi"
//@theme "/home/roah/.local/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/home/roah/.local/share/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/home/roah/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/roah/.local/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/home/roah/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/roah/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/roah/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/roah/.local/share/rofi/themes/simple-tokyonight.rasi"

//@theme "/home/roah/.config/rofi/themes/rounded-blue-dark.rasi"

@theme "/home/roah/.config/rofi/themes/rounded-gray-dark.rasi"
