/* # By Roah on Github https://github.com/rnr-roah */
@define-color background #08080B;
@define-color background-alt alpha(@background, .4);
@define-color text #ffffff;
@define-color text-alt #ffffff;
@define-color selected alpha(@text-alt, .4);
@define-color hover alpha(@selected, .4);

* {
  border: none;
  font-family: 'JetBrainsMono Nerd Font' , 'Symbols Only';
  font-size: 14px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 10px;
  transition: 100ms;
}
* {
    font-family: "Symbols Nerd Font Mono", "Symbols Nerd Font", "Nerd Font Complete", "Nerd Font", monospace;
}

window#waybar {
  background: rgba(25, 26, 36, 0.0); /*change the transparency here to change the bar*/
}




/*Joining the brightness and sound module together with css*/
#backlight, #pulseaudio, #battery,#network, #tray, #custom-spacer1{
  background-color: @background-alt;
  font-size: 12px;
  opacity: 1;
  color: #c0caf5;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;

}
#backlight{
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: -10px;
}
#pulseaudio {
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: -10px;
}
#battery {
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: -10px;
}
#network {
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: -10px;
}
#tray {
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 15px;
}
/**/


/*For notification and clock*/
#clock{
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: @background;
  color: #c0caf5;
  margin-top: 5px;
  opacity: 0.75;
  margin-bottom: 5px;
	margin-right: -10px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
#custom-spacer2{
  border-radius: 0px;
  color: #c0caf5;
  margin-top: 5px;
  background-color: @background;
  opacity: 0.75;
  margin-bottom: 5px;
	margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}
#custom-notifications {
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: @background;
  color: #c0caf5;
  opacity: 0.75;
  margin-top: 5px;
  margin-bottom: 5px;
	margin-right: 5px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}



#custom-power_mode{
  border-radius: 10px;
  background-color: transparent;
  color: #c0caf5;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 1;
  margin-right: 10px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 16px;
  margin-left: 10px;
}
#custom-window-name {
  /*color: #91e0ee;*/
	color: white;
	opacity:0.5;
}

#workspaces {
  border-radius: 10px;
  background-color: transparent;
  color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 8px;
  margin-left: 5px;
}
#workspaces button {
  background: transparent;
  color: grey;
  border-radius: 100px;
}

#workspaces button.active {
  color: #c0caf5;
}

 #custom-playerctl{
  border-radius: 10px;
  background-color: @background;
  opacity: 0.75;
  color: #c0caf5;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f38ba8;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray{
  padding-right: 8px;
  padding-left: 8px;
}


